<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Service contract -->
    <preference for="Rokezzz\CheckoutTypes\Api\Data\CheckoutTypeInterface"
                type="Rokezzz\CheckoutTypes\Model\CheckoutType"/>
    <preference for="Rokezzz\CheckoutTypes\Api\CheckoutTypeRepositoryInterface"
                type="Rokezzz\CheckoutTypes\Model\CheckoutTypeRepository"/>
    <preference for="Rokezzz\CheckoutTypes\Api\Data\OrderCheckoutTypeInterface"
                type="Rokezzz\CheckoutTypes\Model\OrderCheckoutType"/>
    <preference for="Rokezzz\CheckoutTypes\Api\OrderCheckoutTypeRepositoryInterface"
                type="Rokezzz\CheckoutTypes\Model\OrderCheckoutTypeRepository"/>
    <!-- End of service contract -->

    <!-- UI Grid -->
    <virtualType name="Rokezzz\CheckoutTypes\Model\ResourceModel\Cnc\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">rokezzz_checkout_types</argument>
            <argument name="resourceModel" xsi:type="string">Rokezzz\CheckoutTypes\Model\ResourceModel\CheckoutType</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rokezzz_checkout_types_listing_data_source" xsi:type="string">Rokezzz\CheckoutTypes\Model\ResourceModel\Cnc\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!-- End of UI Grid-->

    <!-- Plugin -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="checkout_types_plugin"
                type="Rokezzz\CheckoutTypes\Plugin\Block\Checkout\LayoutProcessor"
                sortOrder="100"/>
    </type>
    <!-- End of plugin -->

</config>
